
<div class="Container">
  <section class="about-us">
    <div class="about">
     
      <div class="text">
        <h2>About Application</h2>
        <h5> <span>Todo Single Page Application</span></h5>
          <p class="justified-text">"Introducing a user-friendly to-do application built with Angular, designed to streamline your task management. This application allows you to effortlessly add, edit, and remove tasks, while also featuring a convenient 'Done' button that applies a striking strike-through style to task titles and descriptions when they are marked as completed. Additionally, the application includes an 'About' section that offers an insightful overview of its features and purpose. To get started, simply run the application using the 'ng serve' command, or open the 'dist' folder with your preferred code editor and utilize a live server extension for a seamless experience." 
          </p>
        <div class="data">
        <a routerLink="/" class="hire">See My App</a>
        </div>
      </div>
    </div>
  </section>

</div>